---
import Layout from "@/layouts/Layout.astro";
import { useTranslations, getLangFromUrl } from "@/i18n/utils";
import IconByName from "@/components/atoms/IconByName.vue";
import Button from "@/components/atoms/Button.vue";
import Typography from "@/components/atoms/Typography.vue";
import ImageByName from "@/components/atoms/ImageByName.vue";
import CodeBlock from '@/components/atoms/astro/CodeBlock.astro';

const lang = getLangFromUrl(Astro.url);
const { home: THome } = useTranslations(lang);
const { seo: TSeo } = THome;
const { home: THomeDescription } = useTranslations(lang);

const {
  title,
  name,
  description,
  comment,
  commentTwo,
  constDefined,
  link,
  card,
} = THomeDescription;
---

<Layout title={TSeo.title}>
  <main>
    <section class="presentation">
      <Typography variant="FiraCode" as="h4" color="light" caseType="capital">
        {title}
      </Typography>
      <Typography variant="FiraCode" as="h1" color="light" caseType="capital">
        {name}
      </Typography>
      <Typography variant="FiraCode" as="h2" color="purple" caseType="capital">
        > {description}
      </Typography>
      <div class="flex flex-col space-y-0 mt-14">
        <CodeBlock language="javascript" code={`// ${comment}`} />
        <CodeBlock language="javascript" code={`// ${commentTwo}`} />
        <CodeBlock language="javascript" code={`const ${constDefined} = ${link};`} />
      </div>
    </section>
    <section class="game-presentation">
      <div class="relative content-bg">
        <div class="relative top-24">
          <ImageByName name="bgCard" className="absolute" />
        </div>   
        <div class="relative -top-20 -left-20">
          <ImageByName name="effectCard" className="w-full h-full" />
        </div>
      </div>          
    </section>
  </main>
</Layout>

<style>
  main {
    display: flex;
    height: 100vh;
    justify-content: center;
  }

  .presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: min-content;
    padding: 10rem 10rem;
    gap: 15px;
  }

  .game-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: min-content;
  }

  @media (max-width: 1629px) {
    .presentation {
      padding: 5rem 5rem;
    }
  }

  @media (max-width: 1357px) {
    .presentation {
      padding: 5rem 4rem;
    }
  }

  @media(max-width: 1300px) {
    .presentation {
      padding: 5rem 3rem;
    }

    .game-presentation{
      display: none;
    }
  }
  @media (max-width: 926px) {
    main{
      display: flex;
      text-align: left;
    }

    .game-presentation, .content-bg:nth-child(1){
      display: flex;
      position: absolute;
      float: left;
      width: 400px;
      top: 100px;
      left: 20px;
    }
  }
</style>
