---
import Item from "@/components/molecule/Item.vue";
import IconByName from "../atoms/IconByName.vue";
import Button from "@/components/atoms/Button.vue";
import { useTranslations, getLangFromUrl } from "@/i18n/utils";
const lang = getLangFromUrl(Astro.url);
const { common: TCommon } = useTranslations(lang);
const { footer: TFooter } = TCommon;
---

<div class="footer-content text-center rounded-b-[20px] text-light">
  <div class="footer-left">
    <Item title={TFooter.findMe} class="link-card" />
  </div>
  <div class="footer-center">
    <Button variant="none" size="medium" disabled={false}>
      <IconByName name="Code" color="simple" className="social-icon" />
    </Button>
    <span class="divider"></span>
    <Button variant="none" size="medium" disabled={false}>
      <IconByName name="Linkedin" color="simple" className="social-icon" />
    </Button>
  </div>
  <div class="footer-right">
    <Item title={TFooter.username} class="link-card" />
    <Button variant="none" size="medium" disabled={false}>
      <IconByName name="Github" color="simple" className="social-icon" />
    </Button>
  </div>
</div>

<style>
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--footerBackground);
  }

  .footer-left,
  .footer-center,
  .footer-right {
    display: flex;
    align-items: center;
  }

  .footer-left {
    border-right: 2px solid var(--border);
    padding-right: 20px;
  }

  .footer-center {
    padding: 0 20px;
  }

  .footer-right {
    border-left: 2px solid var(--border);
    padding-left: 20px;
  }

  .social-icon {
    margin: 0 10px;
  }

  .divider {
    height: 24px;
    border-right: 2px solid var(--border);
    margin: 0 10px;
  }

  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }

    .footer-left,
    .footer-right {
      border: none;
      padding: 10px 0;
    }

    .footer-center {
      padding: 10px 0;
    }

    .divider {
      display: none;
    }
  }
</style>
