---
import Item from "@/components/molecule/Item.vue";
import IconByName from "@/components/atoms/IconByName.vue";
import Button from "@/components/atoms/Button.vue";
import Typography from "../atoms/Typography.vue";
import { useTranslations, getLangFromUrl } from '@/i18n/utils';
import Card from "@/components/molecule/Card.vue";

const lang = getLangFromUrl(Astro.url);
const { common: TCommon } = useTranslations(lang);
const { components: TComponents } = TCommon;
const { variant: TVariant } = TComponents;
const { buttonVariant: TButtonVariant } = TComponents;
const { page: TPage } = TCommon;
---

<main>
  <Typography variant="FiraCode" as="h5" color="light" caseType="upper">
    {TComponents.title} <span>&rarr;</span>
  </Typography>
  <div>
    <Typography variant="FiraCode" as="h5" color="light" caseType="upper">
      {TComponents.typography}
    </Typography>
    <section>
      <Typography variant="FiraCode" as="h5" color="green" caseType="lower">
        {TVariant.green}
      </Typography>
      <Typography variant="FiraCode" as="h5" color="dark" caseType="lower">
        {TVariant.dark}
      </Typography>
      <Typography variant="FiraCode" as="h5" color="purple" caseType="lower">
        {TVariant.purple}
      </Typography>
      <Typography variant="FiraCode" as="h5" color="pink" caseType="lower">
        {TVariant.pink}
      </Typography>
      <Typography
        variant="FiraCode"
        as="h5"
        color="limongrass"
        caseType="lower"
      >
      {TVariant.limongrass}
      </Typography>
      <Typography variant="FiraCode" as="h5" color="orange" caseType="lower">
        {TVariant.orange}
      </Typography>
    </section>
  </div>
  <div>
    <Typography variant="FiraCode" as="h5" color="light" caseType="upper">
      {TComponents.icons}
    </Typography>
    <section>
      <IconByName name="Airplay" color="green" className="" />
      <IconByName name="Folder" color="green" className="" />
      <IconByName name="Mail" color="green" className="" />
      <IconByName name="User" color="green" className="" />
      <IconByName name="Phone" color="green" className="" />
      <IconByName name="Star" color="green" className="" />
      <IconByName name="Box" color="green" className="" />
    </section>
  </div>
  <div>
    <Typography variant="FiraCode" as="h5" color="light" caseType="upper">
      {TComponents.items}
    </Typography>
    <Item title={TComponents.hello} />
    <Item title={TComponents.aboutMe} />
    <Item title={TComponents.projects} />
    <Item title={TComponents.name} />
    <Item title={TComponents.personalInfo} />
    <Item title={TComponents.contacts}/>
  </div>
  <div>
    <Typography variant="FiraCode" as="h5" color="light" caseType="upper">
      {TComponents.buttons}
    </Typography>
    <Button variant="orange" size="medium" disabled={false}
      >{TButtonVariant.orange}</Button
    >
    <Button variant="outline" size="medium" disabled={false}
      >{TButtonVariant.outline}</Button
    >
    <Button variant="secondary" size="medium" disabled={false}
      >{TButtonVariant.secondary}</Button
    >
    <Button variant="ghost" size="medium" disabled={false}>{TButtonVariant.ghost}</Button>
    <Button variant="link" size="medium" disabled={false}>{TButtonVariant.Link}</Button>
    <Button variant="simple" size="medium" disabled={false}>{TButtonVariant.Simple}</Button>
  </div>
  <div>
    <Card
      image="codesys"
      icon="astro"
      className=""
      ButtonVariant="simple"
      size=""
    >
      <p slot="content">
        <Typography variant="FiraCode" as="p" color="dark" caseType="capital" class:list={"font-bold"}>
          {TComponents.example}
        </Typography>
      </p>
      {TPage.viewProjects}
    </Card>
  </div>
</main>


<style>
  main {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 50px;
  }
  section {
    flex-direction: column;
    display: flex;
    gap: 20px;
  }
  div {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
  }
</style>
